[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"
robotframework-robocop = "*"
robotframework-tidy = "*"

[dev-packages]

[requires]
python_version = "3.13"
